{% extends 'base.html' %}
{% block content %}
{% include 'header.html' with header_title="Payment Failed" header_subtitle="Order Failure" %}

<div class="container py-5">
  <div class="row justify-content-center">

    <div class="col-md-8">
      <div class="card shadow-sm">
        <div class="card-body text-center p-5">
          <div class="mb-4">
            <i class="fas fa-times-circle text-danger" style="font-size: 4rem;"></i>
          </div>
          <h2 class="card-title mb-4 text-danger">Payment Failed</h2>
          
          <div class="alert alert-danger">
            Unfortunately, your payment was not successful. Please try again later.
          </div>
          <div class="mt-5">
            <a href="{% url 'cart_summary' %}" class="btn btn-warning btn-lg">Back to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
